
day01/input.txt
day01/zig-out/bin
day01/zig-cache
day02/zig-cache
day02/zig-out/bin
day02/input.txt
day03/zig-cache
day03/zig-out/bin
day03/input.txt
day04/zig-cache

day04/zig-out/bin
day04/input.txt
day05/target
day05/input.txt