
day01/input.txt
day01/zig-out/bin
day01/zig-cache
day02/zig-cache
day02/zig-out/bin
day02/input.txt
day03/zig-cache
day03/zig-out/bin
day03/input.txt
day04/zig-cache

day04/zig-out/bin
day04/input.txt
day05/target
day05/input.txt
2021/day01/zig-cache
2021/day01/zig-out/bin
2021/day02/zig-cache
2021/day02/zig-out/bin
2021/day03/zig-cache
2021/day03/zig-out/bin
2021/day03/input.txt
2021/day04/zig-cache
2021/day04/zig-out/bin
2021/day04/input.txt
2021/day05/target
2021/day05/input.txt
2021/day01/input.txt
2021/day02/input.txt
*.pyc
*.exe
2016/day2/day2_input.txt
2016/day3/day3_input.txt
2016/day4/day4_input.txt
2017/advent_src/day04/input.txt
2017/advent_src/day07/input.txt
2017/advent_src/day09/input.txt
2017/advent_src/day12/input.txt
2017/advent_src/day16/input.txt
2017/advent_src/day19/input.txt
2017/advent_src/day21/input.txt
2017/advent_src/day23/input.txt
2018/rust/day01/input.txt
2018/rust/day02/input.txt
2018/rust/day03/input.txt
2018/rust/day04/input.txt
2018/rust/day05/input.txt
2018/rust/day06/input.txt
2018/rust/day07/input.txt
2018/rust/day08/input.txt
2018/rust/day12/input.txt
2018/rust/day13/input.txt
2018/rust/day15/input.txt
2018/rust/day16/input.txt
2018/rust/day17/input.txt
2018/rust/day18/input.txt
2019/go/day01/input.txt
2019/python/day01/input.txt
2019/rust/day01/input.txt
2019/rust/day06/input.txt
2019/rust/day08/input.txt
2019/rust/day09/input.txt
2019/rust/day10/input.txt
2019/rust/day11/input.txt
2019/rust/day12/debug/out.txt

2021/day06/target
2021/day06/input.txt
2021/day07/target
2021/day07/input.txt