
2019/go/day01/input.txt
2019/python/day01/input.txt
2019/rust/day01/input.txt
2019/rust/day06/input.txt
2019/rust/day08/input.txt
2019/rust/day09/input.txt
2019/rust/day10/input.txt
2019/rust/day11/input.txt
2019/rust/day12/debug/out.txt